  <div class="conteiner">
    <h2 class='text-center my-5'>Выбор пакета</h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            {{#each servicePackage}}
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="https://st3.depositphotos.com/12985790/19034/i/1600/depositphotos_190347904-stock-photo-young-bearded-man-glasses-holding.jpg" class="card-img-top" alt="foto">
                <div class="card-body" data-pocketid={{this.id}}>
                  <form method="POST">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>{{this.price}}</p>
                    <button type="button" class="btn btn-primary pocket-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Выбрать пакет</button>
                  </form>
                  
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            {{#each servicePackage}}
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="https://st3.depositphotos.com/12985790/19034/i/1600/depositphotos_190347904-stock-photo-young-bearded-man-glasses-holding.jpg" class="card-img-top" alt="foto">
                <div class="card-body" data-pocketid={{this.id}}>
                  <form method='POST'>
                    <h5 class="card-title">Foto Parnya</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <p>{{this.price}}</p>
                    <button type="button" class="btn btn-primary pocket-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" >Выбрать пакет</button>
                  </form>
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
