  <div class="conteiner">
    <h2 class="text-center my-5">Выбор пакета</h2>
          <div class="d-flex justify-content-around"> 
            {{#if a}}
            <div class="">
              <div class="card" style="width: 18rem;">
                <img src="https://st3.depositphotos.com/12985790/19034/i/1600/depositphotos_190347904-stock-photo-young-bearded-man-glasses-holding.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                  <h5 class="card-title">{{a.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <p>{{a.price}}</p>
                  <a href="#" class="btn btn-primary bg-secondary">Go somewhere</a>
                </div>
              </div>
            </div>
            {{/if}}
              {{#if b}}
            <div class="">
              <div class="card" style="width: 18rem;">
                <img src="https://st3.depositphotos.com/12985790/19034/i/1600/depositphotos_190347904-stock-photo-young-bearded-man-glasses-holding.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                  <h5 class="card-title">{{b.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <p>{{b.price}}</p>
                  <a href="#" class="btn btn-primary bg-secondary">Go somewhere</a>
                </div>
              </div>
            </div>
            {{/if}}
              {{#if c}}
            <div class="">
              <div class="card" style="width: 18rem;">
                <img src="https://st3.depositphotos.com/12985790/19034/i/1600/depositphotos_190347904-stock-photo-young-bearded-man-glasses-holding.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                  <h5 class="card-title">{{c.title}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <p>{{c.price}}</p>
                  <a href="#" class="btn btn-primary bg-secondary">Go somewhere</a>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
  </div>
