  <div class="conteiner">
    <h2 class="text-center my-5">Выбор пакета услуг</h2>
          <div class="d-flex justify-content-around align-items-stretch"> 
            {{#if a}}
            <div class="d-flex align-items-stretch">
              <div class="card" style="width: 18rem;">
                <img src="img/photo-1.jpg" class="card-img-top" alt="foto">
                <div class="card-body">
                  <div class="d-flex align-items-end flex-column bd-highlight mb-3 ">
                  <h5 class="card-title p-2 bd-highlight">{{a.title}}</h5>
                  <h6 class="p-2 bd-highlight">Стандартный пакет</h6>
                  <p class="card-text p-2 bd-highlight">На Ваше мероприятие приедет фотограф, сделает не менее 600 фотографий. Передаст исходники на физицеском носителе или по ссылке на облачный сервис, сразу после мероприятия. Передаст исходники на физицеском носителе или по ссылке на облачный сервис, сразу после мероприятия.</p>
                    <p class="p-2 bd-highlight">{{a.price}} ₽</p>
                  <a href="#" class="btn btn-outline-danger mt-auto p-2 bd-highlight">Купить</a>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
              {{#if b}}
            <div class="d-flex align-items-stretch">
              <div class="card" style="width: 18rem;">
                <img src="img/video-1.jpg" class="card-img-top" alt="video">
                <div class="card-body">
                  <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                  <h5 class="card-title card-title p-2 bd-highlight">{{b.title}}</h5>
                  <h6 class="card-title p-2 bd-highlight">Стандартный пакет</h6>
                  <p class="card-text card-title p-2 bd-highlight">На Ваше мероприятие приедет видеограф с двумя камерами (4К). Одна камера направлена на трибуну/спикера, вторая - общим планом на приглашенных гостей. Одна камера направлена на трибуну/спикера, вторая - общим планом на приглашенных гостей.дна камера направлена на трибуну/спикера, вторая - общим планом на приглашенных гостей.</p>
                    <p class="card-title p-2 bd-highlight">{{b.price}} ₽</p>
                  <a href="#" class="btn btn-outline-danger mt-auto p-2 bd-highlight">Купить</a>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
              {{#if c}}
            <div class="d-flex align-items-stretch">
              <div class="card" style="width: 18rem;">
                <img src="img/sound-1.jpg" class="card-img-top" alt="sound">
                <div class="card-body">
                  <div class="d-flex align-items-end flex-column bd-highlight mb-3">
                  <h5 class="card-title p-2 bd-highlight">{{c.title}}</h5>
                  <h6 class="p-2 bd-highlight">Стандартный пакет</h6>
                  <p class="card-text p-2 bd-highlight">На Ваше мероприятие приедет инженер по звуку, который установит все необходимое оборудование. На зал до 100 человек: 4 микрофона, 2 колонки, 1 микшер пульт, Захват аудио канала и его запись.а Ваше мероприятие приедет инженер по звуку, который установит все необходимое оборудование.</p>
                    <p class="p-2 bd-highlight">{{c.price}} ₽</p>
                  <a href="#" class="btn btn-outline-danger mt-auto p-2 bd-highlight">Купить</a>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
  </div>
{{!-- Flex Package --}}

<div class="container my-5" id="flexPackege">
    <h2 class="text-center">Гибкий пакет</h2>
    <form id="packageForm">
      {{#each service}}
      <div class="input-group mb-2 needFlexItem" style="height: 100px;" id={{this.id}}>
        <div  class="form-control " >{{this.title}}</div>
        <div  class="form-control" >{{this.description}}</div>
        <div  class="form-control" >{{this.price}}</div>
        <button class="btn btn-outline-secondary" type="button" name="buttonminus">-</button>
        <div class="form-control countDef text-center" id=`count-{{this.id}}`>0</div>
        <button class="btn btn-outline-secondary" type="button" name="buttonplus">+</button>
      </div> 
      {{/each}}
      <button id="flexInModal" type="click" class="btn btn-danger">Submit</button>
      <label>Итого:</label>   <label id="total">0</label><label id="rub">₽</label>
    </form>
  </div>
