
<div class="container my-5" id="flexPackege">
    <h2 class="text-center">Гибкий пакет</h2>
    <form id="packageForm">
      {{#each service}}
      <div class="input-group mb-2 needFlexItem" style="height: 100px;" id={{this.id}}>
        <div  class="form-control " >{{this.title}}</div>
        <div  class="form-control" >{{this.description}}</div>
        <div  class="form-control" >{{this.price}}</div>
        <button class="btn btn-outline-secondary" type="button" name="buttonminus">-</button>
        <div class="form-control countDef" id=`count-{{this.id}}`>0</div>
        <button class="btn btn-outline-secondary" type="button" name="buttonplus">+</button>
      </div> 
      {{/each}}
      <button id="flexInModal" type="click" class="btn btn-secondary">Submit</button>
      <label>Итого:</label>  <label id="total">0</label>
    </form>
  </div>
